* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    background: rgb(250, 182, 194);
    width: 500px;
    margin: 0 auto;
    height: 550px;
    border-radius: 20px;
}

.header {
    font-size: 35px;
}

.title {
    text-align: center;
}

.author {
    text-align: center;
}

.rating {
    text-align: center;
}

.review {
    text-align: center;
}

#review {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 300px;
    height: 200px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: 1px solid #f04890;
}

#input {
    border: 1px solid #f04890;
    border-radius: 5px;
}

.inputContainer {
    text-align: center;
}

.btn-primary {
    width: 30%;
    height: 40px;
    background: #f04890;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background: #ec2f81;
}