* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    background: rgb(250, 182, 194);
    width: 500px;
    margin: 0 auto;
    height: 550px;
    border-radius: 20px;
}

.header {
    font-size: 35px;
}

.title {
    text-align: center;
}

.author {
    text-align: center;
}

.rating {
    text-align: center;
}

.review {
    text-align: center;
}

#review {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 300px;
    height: 200px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: 1px solid #f04890;
}

#title, #author, #rating {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 200px;
    height: 30px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: 1px solid #f13a8a;
}

.inputContainer {
    text-align: center;
}

.btn-primary {
    width: 30%;
    height: 40px;
    background: #f13385;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background: #ec2f81;
}

/* .btn-submit {
    width: 30%;
    height: 40px;
    background: #f04890;
    border: none;
    border-radius: 5px;
} */

.homepage {
    background: rgb(255, 241, 243);
    padding: 15px;
    border: 1px solid #f04890;
    height: auto;
    width: 500px;
    border-radius: 15px;
    border: 1px solid #f04890;
    margin-left: auto;
    margin-right: auto;
}

.xbutton {
    display: inline-block;
    width: 25px;
    height: 24px;
    background: #f69cc3;
    border: none;
    border-radius: 5px;
}

.xButton {
    float: right;
}

.homeReview {
    display: inline-block;
}

.homeTitle {
    display: inline-block;
}

.navbar {
    background-color: pink;
}