.wrapper {
    background-color: pink;
    width: 300px;
    margin: 0 auto;
    height: 600px;
}

.title {
    text-align: center;
}

.inputContainer {
    text-align: center;
}

#review {
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 200px;
    height: 100px;
}