{% extends "base.html" %} {% block title %}Book Reviews{% endblock %}

    {% block content %}

    <br>
    <!-- <h1 class="header" align="center">Make a Review</h1> -->
    <!-- <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes  %}
        <li class="list-group-item">{{ note.data }}
            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul> -->
    <form method="POST">
        <div class="wrapper">
            <br>
            <div class="title">Title</div>
            <div class="inputContainer">
                <input id="input" name="title">
            </div>

            <div class="author">Author</div>
            <div class="inputContainer">
                <input id="input" name="author">
            </div>
            
            <div class="rating">Rating</div>
            <div class="inputContainer">
                <input id="input" name="rating">
            </div>

            <!-- <div class="review">Review</div>
            <div class="inputContainer">
                <input id="reviewInput">
            </div> -->
            
            <br>
            <div class="review">Review</div>
            <div class="inputContainer">
                <textarea name="review" id="review" class="form-control" rows="20"></textarea>
            </div>

            <br>
            <div align="center">
                <button type="submit" class="btn-primary">Add Review</button>
            </div>

        </div>
    </form>
    {% endblock %}