{% extends "base.html" %} {% block title %}Book Reviews{% endblock %}

    {% block content %}

    <form method="POST">
        <div class="wrapper">
            <br>
            <div class="title">Title</div>
            <div class="inputContainer">
                <input name="title" id="title" class="form-control" rows="20"></input>
            </div>

            <div class="author">Author</div>
            <div class="inputContainer">
                <input name="author" id="author" class="form-control" rows="20"></input>
            </div>
            
            <div class="rating">Rating</div>
            <div class="inputContainer">
                <input name="rating" id="rating" class="form-control" rows="20"></input>
            </div>
            
            <br>
            <div class="review">Review</div>
            <div class="inputContainer">
                <textarea name="review" id="review" class="form-control" rows="20"></textarea>
            </div>

            <br>
            <div align="center">
                <button type="submit" class="btn-primary">Add Review</button>
            </div>

        </div>
    </form>
    {% endblock %}