{% extends "base.html" %} {% block title %}Home{% endblock %}

    {% block content %}
    <h1 class="title">Reviews</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes[::-1]  %}
        <li class="list-group-item">
            <div class="homepage">
                <div class="homeDate">{{note.date.strftime('%Y-%m-%d')}}
                    <div class="xButton">
                        <button type="submit" class="xbutton" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <br>
                <div class="homeTitle">Title: {{ note.title }} </div>
                <div class="homeAuthor">Author: {{ note.author }}</div>
                <div class="homeRating">Rating: {{ note.rating }}</div> 
                <br>
                <div class="homeReview">{{ note.review }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}